body{
  margin: 0;
}
.canvas-container {
  position: relative;
  width: 70vw;
  height: 100vh;
  /* margin: 0 calc(100vw - 30em); */
  /* margin: 15vh 15vw; */
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}